body{
    /* height:100%; */
    margin:0;
    background: #F9F9F9;
    overflow-x: hidden;
    /* width: 1920px; */
}
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    /* background-color: #353535; */
}
::-webkit-scrollbar-thumb {
    /* border-radius:2px; */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(96, 103, 105, 0.4);
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background: rgba(51, 51, 51,0);
}